@import '../../../styles/settings.scss';

.root {
    margin-top: 50px;
}

.title {
    font-size: large;
    margin-left: 13px;
}

.media {
    height: 300px;
    width: 100%;
}

.height {
    height: 200px;
}

.margin_top {
    margin-top: 10px;
}

.text_box {
    min-height: 100px;
}