@import '../../../styles/settings.scss';

.root {
    max-width: 445px;
    // height: 300px;
}

.media {
    height: 140px;
}

.marginTop {
    margin-top: 20px;
    margin-left: 13px;
}

.containerAlert {
    width: 100%;
    background: darkblue;
    color: white;
    font-size: 24px;
    text-align: center;
}

